.MuiTypography-colorTextSecondary,.MuiIconButton-root,  .MuiInputBase-input{
    color:white !important;
}

.lcolor{
color:gray
}

.data_color{
color: white
}

.map{
    /* background-image: url('../img/maxresdefault.jpg'); */
    height: 100vh;
    background-repeat: no-repeat;
}
.MuiFab-secondary{
    background-color: black !important;
}

.modalStyle{
    position: absolute;
    top: 47%;
    left: 45%;
    transform: translate(-47%, -45%);
    width: 400px;
    padding: 16px 32px 24px;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
    background-color: #fff;
}